.dialog-container {
    position: relative;

    mat-progress-bar {
        /* Der äußere Container hat bereits ein padding con 24px, daher Position anpassen. */
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);

    }
}