<!-- Karte hinzufügen -->
<mat-card class="user-detail-header">

    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <!-- [matMenuTriggerFor]="userMenu" greift mit "menu" auf #userMenu="matMenu" zu (direkt hier unten), und löst so ein Menü-Bereich aus. -->
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <!--#menu ist wie ein Anker pder ID in JS, allerdings für Angular.-->
        <button mat-menu-item (click)="editUserDetail()">Edit</button> <!-- Bearbeiten -->
    </mat-menu>

    <img src="./assets/img/profile/profile.png">
    <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }} </h2>
        {{ user.email }}
    </div>
</mat-card>

<!-- Karte hinzufügen -->
<mat-card class="margin-top-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <!-- [matMenuTriggerFor]="addressMenu" greift mit "menu" auf #addressMenu="matMenu" zu (direkt hier unten), und löst so ein Menü-Bereich aus. -->
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <!--#menu ist wie ein Anker pder ID in JS, allerdings für Angular.-->
        <button mat-menu-item (click)="editMenu()">Edit</button> <!-- Bearbeiten -->
    </mat-menu>

    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>